@using Blazorapp.AuthenticationAndAuthorization.Authentication
@inherits LayoutComponentBase
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navManager

<PageTitle>Blazorapp.AuthenticationAndAuthorization</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>

        <AuthorizeView>
            <Authorized>
                <div class="top-row px-4">
                    <a @onclick="Logout" href="javascript:void(0)">Logout</a>
                </div>
            </Authorized>

            <NotAuthorized>
                <div class="top-row px-4">
                    <a href="/login">Login</a>
                </div>
            </NotAuthorized>
        </AuthorizeView>


        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private async Task Logout()
    {
        var customAuthStateProvider = (CustomAuthenticationStateProvider)authStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(null);
        navManager.NavigateTo("/", true);
    }
}